.about::before, .about::after {
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);    
}

.cta {
    margin: 40px 0px;
    padding: 15px 20px;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: white;    
}
.cta:hover {
    border: 2px solid gold;
    background: gold;
    color: black;
}
.cta.mobile {
    display: none;
}
.read-more {
    position: absolute;
    top: 50%;
    left: 0;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0px 0px 15px 10px;
    transform: skew(-13deg) rotate(-18deg);
    transform-origin: bottom left;
    cursor: pointer;
    display: inline-block;
 
}
@media (max-width: 900px) {
    .cta.mobile {
        display: block;
    }
    .cta.non-mobile {
        display: none;
    }
}