#content{
  position: absolute;
  background: black;
  z-index: -1;
  width: 100%;
}

.about {
  width: 100%;
  position: relative;
  background:white;
}

.about::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-6deg);
}
.about::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform-origin: right bottom;
  transform: skewY(-6deg);
}

.about-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-top: 60px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  margin-bottom: 0px;
}
.about-wrapper .about-title {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 0px 0px;
}
.about-wrapper .about-title h1 {
  margin: 0px 20px 0px 0px;
  font-size: 70px;
  color: #505050;
}

#in-touch-cta {
  margin: 40px 0px;
  padding: 15px 20px;
  border: 2px solid #505050;
  display: inline-block;
  cursor: pointer;
  color: #505050;
}

#in-touch-cta:hover {
  border: 2px solid gold;
  background: gold;
  color: white;
}

#in-touch-cta.mobile {
  display: none;
}

.about-wrapper .about-content {
  width: 60%;
  color: #505050;
}

.projects {
  width: 100%;
  position: relative;
  color: white;
  z-index: -1;
}

.projects-wrapper {
  font-family: sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; 
  font-family: sans-serif;
  margin-bottom: 30px;
}

.projects .projects-title h1 {
  margin: 0px 20px 0px 0px;
  font-size: 70px;
  color: white;
}

.about-cta{
  width: 100%;
  height: 170px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: gold;
  opacity: .7;
  z-index: -1;
}
.about-cta::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: -100px;
  left: 0;
  transform-origin: top left;
  transform: skewY(13deg);
}

@media (max-width: 800px) {
  .about-wrapper {
      width: 90%;
  }
  .projects-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .about-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-wrapper .about-title {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  #in-touch-cta.mobile {
    display: inline-block;
  }

  #in-touch-cta.non-mobile {
    display: none;
  }

  .about-wrapper .about-title h1 {
    font-size: 40px;
  }

  .about-wrapper .about-content {
    width: 100%;
  }

  .about-wrapper .about-content h2 {
    font-size: 20px;
  }

  .about-wrapper .about-content h3 {
    font-size: 16px;
  }

  .projects-wrapper .projects-title h1 {
    font-size: 40px;
  }

  .projects-wrapper .projects-content {
    width: 100%;
  }

  .projects-wrapper .projects-content h2 {
    font-size: 20px;
  }

  .projects-wrapper .projects-content h3 {
    font-size: 16px;
  }
}

@media (min-width: 1000px){
  .projects-wrapper {
    padding-top: 100px;
  }
}
