.header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/home-bg3.jpg);
  background-size: cover;
  background-position: 70% 50%;
  background-attachment: fixed;
  z-index: -1;
}

.name {
  transition: all .3s ease-in-out;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 10px;
  font-size: 35px;
  padding: 10px 25px;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  cursor:default;
  margin: 0px 100px 10px 100px;;
}

.read-more {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px 0px 25px 20px;
  transition: all .3s ease-in-out;
  transform: rotate(-6deg);
  transform-origin: bottom left;
  cursor: pointer;
  z-index: 5;
}

@media(max-width: 1000px){
  .about-cta {
    top: -60px;
  }
  .name{
    font-size: 20px;
  }
    .read-more {
    margin: 0px 0px 10px 10px;
  }

  .memo {
    font-size:11px;
  }
  .read-more {
    font-size: 14px;
  }
}
