.hobbies::before, .hobbies::after {
  transform: skewY(-3deg);
}
.hobbies .wrapper .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    margin-top: 20px;
}
.left-diagonal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 102%;
    background: black;
    transform-origin: top right;
    transform: skew(-8deg);
}
.right-diagonal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 102%;
    background: black;
    transform-origin: bottom left;
    transform: skew(-8deg);
}
.hobby-img {
    width: 50%;
    height: 200px;
    position: relative;
    background: gray;
    overflow: hidden;
    cursor:default;
    background-size: cover;
    background-position: center;
}

.rock-climbing {
    background-image: url('../images/rock-climbing.jpg');
}

.slack-lining {
    background-image: url('../images/slack-lining2.jpg');
}
.guitar {
    background-image: url('../images/guitar.jpg');
}
.creating {
    background-image: url('../images/creating.JPG');
}

.hobby-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66%;
    height: 100%;
    background: black;
    opacity: .6;
    transform: translateX(100%); 
    transition: .5s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 15% 0px 20%;
}

.hobby-hover h1 {
    font-size: 24px;
    margin: 5px;
}

.hobby-hover p {
    font-size: 16px;
    margin: 5px;

}

.hobby-img:hover .hobby-hover {
     transform: translateX(0%); 
}

@media (max-width: 500px){
     .slack-lining .hobby-hover {
        padding: 0px 15% 0px 10%;
        width: 76%;
    } 
}