.window {
    width: 100%;
    height: 300px;
    position: relative;

}

.one {
    background-image: url(../images/projects-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
}

.two {
    background-image: url(../images/hobby-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 30% 50%;
    z-index: -2;
}